# Force SQL files to be recognized as SQL
# Force GitHub to show SQL alongside Python
*.sql linguist-detectable

# Force .mysql files to be recognized as MySQL
*.mysql linguist-language=MySQL

# Force .js files within a specific folder to be JavaScript
path/to/my/javascript/*.js linguist-language=JavaScript

# Force .py files within a specific folder to be Python
path/to/my/python/*.py linguist-language=Python

# Force .html files within a specific folder to be HTML
path/to/my/html/*.html linguist-language=HTML

# Force .css files within a specific folder to be CSS
path/to/my/css/*.css linguist-language=CSS

# Force .xml files within a specific folder to be XML
path/to/my/xml/*.xml linguist-language=XML